    <div class="content-left" >
    <ul>
        <li>
          <h3>color</h3>
          <table role="list">
            <thead>
              <tr>
                <th>#</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>1</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>2</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>3</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div><!-- .content-left -->

    <div class="content-right">
      <table>
        <tbody>
          <th>format</th><td>{{itemType.attrs}}</td>
        </tbody>
      </table>
      <table role="list">
        <thead>
          <tr>
            <th>#</th>
            <th>項目名</th>
            <th>型</th>
            <th>項目長</th>
            <th>デフォルト値</th>
            <th>最大</th>
            <th>最小</th>
            <th>単位</th>
            <th>仕様展開</th>
            <th>仕様コード</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dt in itemType.typeAttr" ng-click="attrSelector.select($index)" ng-class="{selected: $index === attrSelector.selectedId}">
            <td ng-bind="dt.rank"></td>
            <td ng-bind="dt.name"></td>
            <td ng-bind="dt.fieldType"></td>
            <td ng-bind="dt.fieldLength"></td>
            <td ng-bind="dt.default"></td>
            <td ng-bind="dt.max"></td>
            <td ng-bind="dt.min"></td>
            <td ng-bind="dt.unit"></td>
            <td ng-bind="dt.specExpantsion?'yes':'no'"></td>
            <td ng-bind="dt.specExpantsion? dt.specExpantsion.codeLength : '-'"></td>
          </tr>
        </tbody>
      </table>     
      <ul class="tree" aria-expanded="true">
        <li>
          <h3>{{specs}}</h3>
          <table role="list">
            <thead>
              <tr>
                <th>#</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>1</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>2</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
              <tr>
                <td>3</td>
                <td><input type="text"></input></td>
                <td><input type="text"></input></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div><!-- .content-right -->