   <div class="content-left" >
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>TYPE CODE</th>
            <th>NAME</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="itemType in itemTypes" ng-click="selector.select($index)" ng-class="{selected: $index === selector.selectedId}">
            <td ng-bind="$index+1"></td>
            <td ng-bind="itemType.code"></td>
            <td ng-bind="itemType.name"></td>
          </tr>
        </tbody>
      </table>
    </div><!-- .content-left -->

    <div class="content-right">
    <p>品目種別属性</p>
      <table role="list">
        <caption>
        <div>
          <button>commit</button>
        <div>
        </caption>
        <thead>
          <tr role="">
        　　  <th>#</th>
            <th>コード</th>
            <th>名称</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="attr in itemTypes[selector.selectedId].attrs"
          ng-class="{selected: $index === selector.selectedId, inserted: attr.isInserted}">
            <td ng-bind="attr.rank"></td>
            <td ng-bind="attr.attr_code"></td>
            <td ng-bind="attr.attr_name" ></td>
          </tr>
          <tr>
            <td>*</td>
            <td><input type="text" name="attr_code" ng-model="attrCode" ng-init-focus/></td>
            <td><input type="text" name="attr_name" ng-model="attrName" ng-keyup="append($event)"/></td>
          </tr>
          <tr>
        </tbody>
      </table> 
    </div><!-- .content-right -->